{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/shared/router/(.*)$",
    "^@/shared/api/(.*)$",
    "^@/shared/utils/(.*)$",
    "^@/shared/components/(.*)$",
    "^@/shared/icons/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
