/* Upload */
.ant-upload-list.ant-upload-list-text {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xs);
}

/* Notification */
.ant-notification-stack .ant-notification-notice-wrapper {
  background: none;
  box-shadow: none;
}
.ant-notification-stack .ant-notification-notice-wrapper .ant-notification-notice {
  width: max-content;
}

/* Dopdown */
.ant-dropdown-menu-title-content {
  display: flex;
  align-items: center;
  gap: var(--gap-5xs);

  font: var(--font-body-medium-m);
}

/* Form */
.ant-form-item {
  margin-bottom: 0;
}
